background {color:palevioletred:
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: cyan;
}
h2{
   font: outline;
   font-size: medium;
   color: darkkhaki;
}   
