background {color:palevioletred:
}
h1{
  font-variant-position: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: cyan;
}
h2{
   font: outline;
   font-size: medium;
   color: darkkhaki;
}   
p{
  font-family: sans-serif;
}
.important {
  color: red;
}
.unimportant {
  color: blue;
}
.Behavior {
  background-color:brown;
}